body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.characterGrid {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,minmax(345px,1fr));
  gap: .875rem;
}

.cardClip {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 999;
}

.paginationWrapper {
  display:grid;
  place-items: center;
  margin-top:1.5rem;
}